@font-face {
  font-family: 'Open Sans Regular';
  /* font-style: normal; */
  /* font-weight: normal; */
  /* src: url('../../static/fonts/OpenSans-Regular.woff') format('woff'); */
  src: url('../../static/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  /* font-style: normal; */
  /* font-weight: normal; */
  /* src: url('../../static/fonts/OpenSans-Bold.woff') format('woff'); */
  src: url('../../static/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Muli Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Muli-Regular.woff') format('woff');
} */

body {
  font-family: 'Open Sans', 'Open Sans Bold', sans-serif;
}

p {
  font-family: 'Open Sans Regular'
}